.home {
  z-index: 9999;
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  &:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    .home__hover {
      display: block;
    }
  }
}
.home__inner-Back {
  width: 100%;
  background-color: #fff;
}

.home__hover {
  display: none;
  position: absolute;
  transform-origin: top right;
  top: 80px;
  left: -350px;
  background-color: white;
  padding: 40px 0;
  z-index: 999;
  width: 1200px;
}
.home-hover-box {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px;
  gap: 40px;
  justify-content: space-around;
  // overflow-y: scroll;
}

.hover-home-item {
  transition: all ease 0.5s;
  box-shadow: 0px 4px 64px -13px rgba(34, 60, 80, 0.2);
  &:hover {
    box-shadow: 0px 4px 57px 14px rgba(34, 60, 80, 0.2);
  }
}

.shop {
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  &:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    .shop-hover {
      display: block;
    }
  }
}
.shop-hover {
  display: none;
  position: absolute;
  transform-origin: top right;
  top: 80px;
  left: -450px;
  background-color: white;
  padding: 40px 0;
  z-index: 999;
  width: 1200px;
  margin: 0 auto;
}
.shop-hover-inner {
  background-color: #fff;
}
.shop-hover-list {
  width: 900px;
  padding: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.shop-hover-divs {
  text-align: left;
}
.shop-hover-list-item {
  line-height: 35px;
  font-size: 13px;
  font-weight: 400;
  transition: all ease 0.4s;
  &:hover {
    transform: translateX(5px);
    color: var(--green);
  }
  .span-new {
    text-transform: lowercase;
    position: relative;
    top: -8px;
    font-size: 10px;
    padding: 2px 8px;
    color: #fff;
    background-color: var(--green);
  }
  .span-hot {
    left: 3px;
    text-transform: lowercase;
    position: relative;
    top: -8px;
    font-size: 10px;
    padding: 2px 8px;
    color: #fff;
    background-color: rgb(253, 79, 36);
  }
}

.element {
  border-left: 1px solid white;
  border-right: 1px solid white;
  &:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}
.element:hover .element-hover {
  display: flex;
}

.element-hover {
  background-color: white;
  display: none;
  // width: 50%;
  position: absolute;
  transform-origin: center;
  top: 50px;
  left: 0;
  right: 0;
  // background-color: transparent;
  padding: 30px 0;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
}
.element-hover-inner {
  width: 100%;
  background-color: #fff;
  ul {
    width: 100%;
  }
}

.page {
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;

  &:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    .page-hover {
      display: block;
    }
  }
}
.page-hover {
  display: none;
  position: absolute;
  transform-origin: top right;
  top: 80px;
  left: 0;
  background-color: white;
  z-index: 999;
  width: 200px;
  margin: 0 auto;
}
.page-hover-inner {
  background-color: #fff;
  padding: 0 30px;

  ul {
    list-style: none;
    text-align: left;
    line-height: 35px;
    li {
      font-size: 13px;
      font-weight: 300;
      &:hover {
        transition: all ease 0.5s;
        color: var(--green);
      }
    }
  }
}

.vendors {
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  &:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    .vendor-hover {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
.vendor-hover {
  display: none;
  position: absolute;
  transform-origin: top right;
  top: 80px;
  left: 0;
  background-color: white;
  padding: 30px 0;
  z-index: 999;
  width: 200px;
  margin: 0 auto;
}

.fruit {
  position: relative;
  &:hover {
    .fruit__hover {
      display: block;
    }
  }
}
.fruit__hover {
  background-color: transparent;
  display: none;
  position: absolute;
  transform-origin: top right;
  top: -30px;
  left: 0;
  padding: 30px 20px;
  z-index: 999;
  width: 500px;
  margin: 0 auto;
  color: #000;
}
.fruit__hover-inner {
  background-color: #fff;
  background-image: url("../img/fruitBG.jpg");
  background-size: cover;
  padding: 25px 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.vegetable {
  position: relative;
  &:hover {
    .vegetable__hover {
      display: block;
    }
  }
}
.vegetable__hover {
  background-color: transparent;
  display: none;
  position: absolute;
  transform-origin: top right;
  top: -30px;
  left: 0;
  padding: 30px 20px;
  z-index: 999;
  width: 500px;
  margin: 0 auto;
  color: #000;
}

.vegetable__hover-inner {
  background-color: #fff;
  padding: 25px 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media (max-width: 950px) {
  .vendors {
    display: none;
  }
}
@media (max-width: 840px) {
  .page {
    display: none;
  }
}
@media (max-width: 776px) {
  .navbar__main {
    display: none;
  }
} ;
